{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <title>Student page</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fa fa-arrow-circle-left" id="cancel"></i>
    </label>
    <header>
        <nav>
            <ul class="nav__links">
                <li><a href="{% url 'snotification' %}">Notifications</a></li>
                <li><a href="{% url 'bookren' %}">Book Renewal </a></li>
                <li><a href="{% url 'tableb' %}">Table booking</a></li>
            </ul>
        </nav>
        <form action="#" method="get" class="search-form">
          <input type="text" placeholder="Search..." class="search-bar">
          <button type="submit" class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
        
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="#">Notifications</a>
            <a href="#">Alerts</a>
            <a href="#">About</a>
        </div>
    </div>
    <script type="text/javascript" src="mobile.js"></script>
    <div class="sidebar">
        <a class="logo" href="/"><img src="{% static 'images/stud.png' %}" alt="logo"></a>
        <h1 class="sp">Student page</h1>
    <ul>
     <li><a href="mypro.html"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a></li>
     <li><a href="borowbooks.html"><i class="fa fa-book" aria-hidden="true"></i>Borrowed books</a></li>
     <li><a href="history.html"><i class="fa fa-history" aria-hidden="true"></i>Borrow History</a></li>
     <li><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>
     <li><a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i>Logout</a></li>
     <li><a href="#"><i class="fas fa-stream"></i>Reserved Books </a></li>
     <li><a href="#"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Fine</a></li>
     <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
     <li><a href="#"><i class="far fa-envelope"></i>Contact us</a></li>

    </ul>
   </div>
   <section>
   </section>
   <footer>
   </footer>
  </body>
</html>